@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="jumbotron" style="height:22rem;">
        <h1 class="display-4">Bassem Jallouli</h1>
        <p class="lead">Software developer who creates content that attracts, engages, and integrate artificial intelligence.</p>
        <hr class="my-4">
        <p class="lead">My passion and focus is machine learning development.</p>
         
        <div id='box1'>
            <div class='item1'>
                <a href="https://www.linkedin.com/in/bassem-jallouli-6869031b/" class="fa fa-linkedin-square fa-lg"> Linkedin </a>
            </div>
            <div class='item1'>
                <a href="https://github.com/Bassempro1" class="fa fa-github fa-lg"> Github</a>
            </div>
        </div>
       
    </div>

    <div class="card-deck">
        <div class="card">
            <img src="~/Images/A1.jpeg" style="height:10rem;" class="card-img-top" alt="Data Analyst">
            <div class="card-body">
                <h5 class="card-title">Data Analyst</h5>
                <p class="card-text"> Prepare data, train models, evaluate algorithms and create new predictions.</p>

            </div>
        </div>
        <div class="card">
            <img src="~/Images/A2.jpeg" style="height:10rem;" class="card-img-top" alt="Software Developer">
            <div class="card-body">
                <h5 class="card-title">Software Developer</h5>
                <p class="card-text">Create a full stack web application, using ASP.NET Core, C#, razor pages, Bootstrap and Javascript.  </p>
            </div>
        </div>
        <div class="card">
            <img src="~/Images/A4.jpeg" style="height:10rem;" class="card-img-top" alt="Quality Engineer">
            <div class="card-body">
                <h5 class="card-title">Quality Engineer</h5>
                <p class="card-text">Define and maintain the project quality engineering plan and producing audit plan.</p>
            </div>
        </div>
    </div>    