@page
@model DataHappy.Pages.InterestsModel
@{
    ViewData["Title"] = "Interests";
}

<h1>Interests</h1>

<div class="card-deck">
    <div class="card">
        <div class="talk-media-holder embed-responsive embed-responsive-16by9 mr-md-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dMre9L3K780" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">Positive Thinking</h5>
            <p class="card-text">Thoughts are powerful. It can affect your moods, your decisions, your physiology and your life itself.</p>
        </div>
    </div>
    <div class="card">
        <div class="talk-media-holder embed-responsive embed-responsive-16by9 mr-md-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hHIikHJV9fI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">Team Work</h5>
            <p class="card-text">Several years ago, Google launched a big study to figure out what makes teams successful.</p>
        </div>
    </div>
    <div class="card">
        <div class="talk-media-holder embed-responsive embed-responsive-16by9 mr-md-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/s0dMTAQM4cw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">Artificial Intelligence</h5>
            <p class="card-text">Developments in artificial intelligence (AI) are leading to fundamental changes in the way we live.</p>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <div class="talk-media-holder embed-responsive embed-responsive-16by9 mr-md-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TLpbfOJ4bJU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">Nutrition</h5>
            <p class="card-text">Neuro-nutrition is the name of a research field that investigates the impact of nutrition on brain health.</p>
        </div>
    </div>
    <div class="card">
        <div class="talk-media-holder embed-responsive embed-responsive-16by9 mr-md-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KLv1_Mex9JI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">Hiking</h5>
            <p class="card-text">This outdoor workout sculpts from abs to calves, boosts your brainpower, and activates happiness hormones.</p>
        </div>
    </div>
    <div class="card">
        <div class="talk-media-holder embed-responsive embed-responsive-16by9 mr-md-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/44ddtR0XDVU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">Earthing</h5>
            <p class="card-text">Scientific research indicates that your body can be protected when you electrically reconnect to the Earth.</p>
        </div>
    </div>
</div>